astroid==1.4.4
beautifulsoup4==4.4.1
bleach==1.4.3
chardet==2.3.0
colorama==0.3.6
Django==1.9.7
django-contrib-comments==1.7.1
filebrowser-safe==0.4.3
future==0.15.2
grappelli-safe==0.4.2
html5lib==0.9999999
lazy-object-proxy==1.2.1
Mezzanine==4.1.0
oauthlib==1.1.2
pbr==1.8.1
Pillow==3.3.0
powerline-status==2.3
pyasn1==0.1.9
pylint==1.5.4
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
rsa==3.4
six==1.10.0
stevedore==1.12.0
tzlocal==1.2.2
virtualenv==15.0.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wrapt==1.10.6
